################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/generateContentForInstructionSimonov/v16
/bin/Debug
/obj/Debug
/packages
/Properties
